
@{
    ViewBag.Title = "ConfirmView";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}
<link href="~/Content/web-Login.css" rel="stylesheet" />
<div class="container">
    <div class="main">
        <div class="card" style="margin: 0 auto">
            <div class="card-body">
                <h4 class="card-title mt-4">歡迎 ~@ViewBag.account</h4>
                <p class="mt-4">感謝您註冊旅途貓網站，請至您的信箱收取驗證信件</p>
                @Html.ActionLink("返回首頁", "Index", "Home", new { @class = "btn btn-info" })
            </div>
        </div>

    </div>
</div>