@model IEnumerable<TravelCat.Models.activity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}
    <link href="~/Content/web-activite-home.css" rel="stylesheet" />

    
    <div class="container">
        <div class="banner">
            <img src="~/images/hotel-1111199_1920.jpg" alt="Alternate Text" />
        </div>
    </div>