h2 {
    color: #000;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
    font-family: "Noto Sans TC","Helvetica Neue", Helvetica, Arial, "PingFang TC", 微软雅黑, "Microsoft YaHei", 华文细黑, STHeiti, sans-serif;
}
.row {
    display: flex;
    justify-content: center;
}
.row .co .txt{
    font-size: 1.2em;
    margin-top: 5px;
}
.row .co .textbox{
    width: 100%;
    line-height: 1.5;
    border-radius: .25rem;
}

.footer{
    margin:  250px 0 50px 0;

}
