#map {
    height: 55vh;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.row {
    display: flex;
    justify-content: space-between;
}

.square {
    height: 0;
}

.square-25 {
    width: 25%;
    padding-bottom: 25%;
}

.square-33 {
    width: 33.333333%;
    padding-bottom: 33.333333%;
}

.square-50 {
    width: 50%;
    padding-bottom: 50%;
}

.square-100 {
    width: 100%;
    padding-bottom: 100%;
}


.square {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #eee;
}

.grid {
    display: block;
    padding: 0;
    margin: 0 -6px 12px;
    text-align: left;
    font-size: 0;
}

.grid-cell {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    text-align: left;
    vertical-align: top;
    width: 100%;
    font-size: 16px;
}

.grid-25 {
    width: 25%;
}

.grid-33 {
    width: 33.333333%;
}

.grid-50 {
    width: 50%;
}


body {
    background: #353B6E;
    height: auto
}

.square {
    overflow: hidden;
    border-radius: 8px;
    background-size: cover;
    box-shadow: 0 3px 12px navy;
}


.title h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px black;
    background: linear-gradient(rgba(#252243, 0), rgba(#252243, .8));
    margin: 0;
    padding: 36px 12px 12px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.grid-cell {
    margin-bottom: 10px
}
