body {
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif ;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 400px;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.gallery_caption {
    text-align: center;
}

.add_to_bucket_list {
    float: right;
}
.single_comments {
    min-height: 440px;
    text-align: left;
    background: #ffffff;
    transition: opacity 0.35s ease-in;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 0px #c2c2c2;
    border-radius: 3px;
    cursor: pointer;
    width: 60%;
    margin: 50px ;
    position: relative;
    padding:10px
}
.single_message {
    border: 1px solid #d6d6d6;

}
.btn {
    border-width: 3px;
}
.header-carousel-item {
    height: 450px;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}
.carousel-caption {
    background: rgba(255,255,255,0.3);
}

.mapbg {
    height: 400px;
}
.emoji img {
    height: 26px;
    width: 26px;
}
.add_message {
    padding: 10px;
}

.add_message textarea {
    width: 95%;
    height: 150px;
    max-width: 98%;
    padding: 10px;
    margin: auto;
    text-align: left;
}
.comment_emoji_detail img+span{
    padding-right:30px
}
@media (min-width: 768px) {
    .text-md-dark {
        color: darkblue;
    }
}

