.breadcrumb {
    background: none;
}

.text-catcolor {
    color: #00cc99 !important;
}

.box2 {
    background: #ffffff;
    width: 100%;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e5e5;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: darkturquoise;
}

.jumbotron {
    margin-bottom: 0px;
}

.listyle {
    list-style: none;
}

    .listyle li:first-child {
        color: #844200;
        margin-bottom: 5px;
        font-size: 20px;
    }

.intro {
    background-color: #16AC84;
    color: white;
    font-weight: bolder;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #16AC84;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    height: 360px;
}

a {
    color: #844200;
    text-decoration: none;
    background-color: transparent;
    font-size: 20Px;
    font-weight: bolder;
}
