*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    background-color: #f0f0f0;
}

body {
    background-color: #f0f0f0;
    color: #999999;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
}

.box2 {
    background: #ffffff;
    width: 100%;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e5e5;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.nav nav-pills {
    display: flex;
}
.nav-item {
    justify-content: center;
    align-items: center;
}
.nav-pills .nav-link.active {
    background: #721c24;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: #4e57ef;
}
.nav-link-cat {
    color: dimgrey;
    text-decoration: none;
    background-color: transparent;
}

    .nav-link-cat:hover {
        color: #4e57ef;
        text-decoration: none;
        background-color: transparent;
    }

.badge img {

}
.member_intro {
    font-weight: bolder;
    position: relative;
    height: 700px;
    padding: 100px
}

.member_header {
    width:80%;
    display: flex;
    justify-content: space-between;
}
.personal_info {
    padding: 0 2rem
}
.member_location  {
    border-left: 3px solid gray;
    padding-left: 2rem
}
.profile_avatar {
    margin: 5px 30px 10px 20px;
    width: 200px;
    height: 200px;
    background: #551029;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #551029;
}
.mem_more_action img {
    background:transparent;
    width: 34px;
    height: 34px;
}
.user_profile_header {
    padding: 50px 50px 70px 50px;
    height: 300px;
    border: 2px solid #551029;
    box-shadow: 5px 6px 0px #551029;
    position: relative;
    overflow: hidden;
    max-width: 70%;
    margin: 136px auto 20px;
    background: #fff;
    border-radius: 3px;
}
.content_body {
    margin: 0px auto 20px;
    max-width: 70%;
}
.brief {
    font-style: italic
}

.card-text{
    font-weight:400
}
.card {
    margin: 10px
}
.tab-pane{
    height:100%
}

.nav-pills-cat .nav-link-cat.active,
.nav-pills-cat .show > .nav-link-cat {
    color: #ffffff;
    background: #cfd7ff;
    color: #0a0a0a;
    border: 1px solid #4e57ef;
    box-shadow: 3px 4px 0px #4e57ef;
    display: inline-block;
    padding: 2px 8px;
    font-size: 0.95em;
    border-radius: 2px;
    font-stretch: condensed;
    top: 18px;
    font-weight: 600;
}
.nav-pills-cat {
    width: inherit;
    margin-bottom:2rem
}
.nav-item{
    height:0;
    width:inherit
}
a {
    color: dimgrey
}
a:hover {
    color: deeppink;
    cursor:pointer
}

.subject_title {
    color: #696969
}

.info_content {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
    color: #4e57ef;
}
.a_style {
    color: #4e57ef;
}
.badge_sticker img {
    transform: rotate(-15deg);
    margin-left: 6px;
    margin-right: 2px;
}

/*.modal {
    display: block !important; /* I added this to see the modal, you don't need this */
}*/

/* Important part */
.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 60vh;
    overflow-y: auto;
}