body {
    margin-top: 200px
}
.text-catcolor {
    color: #00cc99 !important;
}

.box2 {
    background: #ffffff;
    width: 100%;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e5e5;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: darkturquoise;
}

.jumbotron {
    margin-bottom: 0px;
    z-index:1
}

.listyle {
    list-style: none;
}

    .listyle li:first-child {
        color: #844200;
        margin-bottom: 5px;
        font-size: 20px;
    }

.intro {


    font-weight: bolder;
    position:relative;
    height:700px;
    padding:100px
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #16AC84;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    height: 360px;
}

a {
    color: #844200;
    text-decoration: none;
    background-color: transparent;
    font-size: 20Px;
    font-weight: bolder;
}
a:hover {
    color: darkorange;
    
}


.profile_avatar img {
    margin: 10px 50px;
    width: 200px;
    height: 200px;
    background: #f80;
    border-radius: 50%;
    object-fit: cover;
}
.user_profile_header {
    padding:50px;
    height: 300px;
    border: 2px solid #e00071;
    box-shadow: 5px 6px 0px #e00071;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    overflow: hidden;

    max-width: 92%;
    margin: 30px auto 20px;
    background: #fff;

    border-radius: 3px;
}
.brief{
    font:italic
}
.collection_card {
    padding-left: 0;
    padding-right: 0;
}