.carousel {
    margin-top: 116px;
    height: 70vh;
    z-index: 1;
}
    .carousel .carousel-inner .carousel-item {
        height: 70vh;
    }
        .carousel .carousel-inner .carousel-item img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

.container{
    margin-top: 3vh;
}
    .container h3 {
        text-align: center;
        color: #16ac84;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 900;
        padding-bottom: .75rem;
        border-bottom: 1px solid;
    }
    /*切換選單樣式*/
    .container .row{
        margin-top: 2vh;
    }
.container .row  .col-12 .list-group{
    flex-direction:  row;
    justify-content: center;
}
    .container .row .col-12 .list-group a {
        padding: .25rem  0px;
        margin: 0px 1.25rem;
        font-size: 1.25rem;
        text-decoration: none;
        color: #16ac84;
        font-weight: 900;
    }
        .container .row .col-12 .list-group a:hover {
            color: #128566;
        }
        .container .row .col-12 .list-group .active {
            border-bottom: 2px solid #128566;
        }

        /*card*/
        .container .row .col-12 .tab-content {

        }
        .container .row .col-12 .tab-pane{
         
        }
        .container .row .col-12 .tab-content .tab-pane .card {
            display: inline-block;
            width: 24%;
            margin-left: .5%;
            margin-top: 20px;
            position: relative;
            box-shadow: 2px 2px 4px #CCC;
        }
            .container .row .col-12 .tab-content .tab-pane .card img{
                width: 80%;
                margin: 0px 10%;
                margin-top: 10px;
            }
            .container .row .col-12 .tab-content .tab-pane .card .card-body {
                height: 200px;
            }
            .container .row .col-12 .tab-content .tab-pane .card .card-title {
                color: red;
                font-weight: 900;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .container .row .col-12 .tab-content .tab-pane .card .card-text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                white-space: normal;
                vertical-align: bottom;
            }
            .container .row .col-12 .tab-content .tab-pane .card .card-body .btn {
                position: absolute;
                bottom: 20px;
                right: 20px;
                background-color: #16ac84;
            }
                .container .row .col-12 .tab-content .tab-pane .card .card-body .btn:hover {
                    background-color: #128566;
                }