* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Microsoft JhengHei';
}
/*表頭*/
.header {
    background-color: #e4e5e6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

    .header .header-bar {
        width: 960px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: .5rem 0;
    }

        .header .header-bar .logo {
            font-size: 2rem;
            text-decoration: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #000;
            font-weight: 700;
        }

            .header .header-bar .logo img {
                margin-right: .5rem;
            }

    .header .memberId {
        margin-left: 2.75rem;
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }

        .header .memberId:hover {
            color: #128566;
        }


        /*景點bar*/
.top-bar {
    background-color: #FFF;
    margin-top: 66px;
    box-shadow: 0px 2px 2px #CCC;
    padding: .5rem 0px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 100;
}

    .top-bar .body-menu {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .top-bar .body-menu .search {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-left: 40%;
        }

            .top-bar .body-menu .search .search-txt {
                border: 1px solid #CCC;
                border-right: none;
                font-size: 1rem;
                padding: .25rem;
                border-radius: 5px 0px 0px 5px;
                outline: none;
            }

            .top-bar .body-menu .search .fas {
                display: inline-block;
                width: 34px;
                height: 34px;
                background-color: #FFF;
                border: 1px solid #CCC;
                border-radius: 0px 5px 5px 0px;
                border-left: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                .top-bar .body-menu .search .fas:hover {
                    background-color: #24E3AF;
                    color: #FFF;
                    cursor: pointer;
                }

        .top-bar .body-menu li a {
            color: #16ac84;
        }

            .top-bar .body-menu li a:hover {
                color: #128566;
            }







/*表尾*/
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
    height: 200px;
    background-color: #24E3AF;
    color: #000;
    font-weight: 900;
}
