 h2{
    font-weight:700;
    padding-bottom:5px;
    border-bottom: 1px solid #CCC;
}

.spot-header {
    font-size: 1.2em;
    font-weight: 500;
    padding: .5em .5em;
    display:flex;
    align-items: center;
    position: relative;
}
    .spot-header .search{
        position:absolute;
        right: 40px;
    }
.spot-header .search .border{
    padding-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
}
.Tbody {
    width: 100%;
    overflow: auto;
}
.table {
    width:120%;
}
