@*@using X.PagedList.Mvc;
    @using X.PagedList;*@
@model TravelCat.ViewModels.SearchViewModel
@*<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{ Layout = "~/Views/Shared/web-Layout.cshtml";}


<div class="row">
    <div class="col-md-3 mb-2 border-right">
        <form>
            <div class="row">
                <div class="col-md-12 col-sm-6 ">
                    <div class="text-center mb-4 border-bottom ">
                        <h2>喜好篩選</h2>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6  ">
                    <div class="text-left mb-4 px-2 py-2 border-bottom">
                        <h4>
                            城市:
                        </h4>
                        <select id="city" name="city" class="col-10 offset-1 btn-light mb-4 border-bottom px-2 py-2">
                            <option value="" disabled selected>請選擇</option>
                            <option value="" disabled>北部地區</option>
                            <option value="台北市">台北市</option>
                            <option value="新北市">新北市</option>
                            <option value="基隆市">基隆市</option>
                            <option value="桃園市">桃園市</option>
                            <option value="新竹市">新竹市</option>
                            <option value="新竹縣">新竹縣</option>
                            <option value="苗栗縣">苗栗縣</option>
                            <option value="" disabled>中部地區</option>
                            <option value="台中市">台中市</option>
                            <option value="彰化縣">彰化縣</option>
                            <option value="南投縣">南投縣</option>
                            <option value="" disabled>南部地區</option>
                            <option value="雲林縣">雲林縣</option>
                            <option value="嘉義市">嘉義市</option>
                            <option value="嘉義縣">嘉義縣</option>
                            <option value="台南市">台南市</option>
                            <option value="高雄市">高雄市</option>
                            <option value="屏東縣">屏東縣</option>
                            <option value="" disabled>東部地區</option>
                            <option value="宜蘭縣">宜蘭縣</option>
                            <option value="花蓮縣">花蓮縣</option>
                            <option value="台東縣">台東縣</option>
                            <option value="" disabled>離島地區</option>
                            <option value="澎湖縣">澎湖縣</option>
                            <option value="金門縣">金門縣</option>
                            <option value="連江縣">連江縣</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6  ">
                    <div class="text-left mb-4 px-2 py-2 border-bottom">
                        <h4>
                            旅客評分:
                        </h4>
                        <select id="comment_rating" name="comment_rating" class="col-10 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                            <option value="" disabled selected>請選擇</option>
                            <option value="1">大於1分</option>
                            <option value="2">大於2分</option>
                            <option value="3">大於3分</option>
                            <option value="4">大於4分</option>
                            <option value="5">大於5分</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6  ">
                    <div class="text-left mb-4 px-2 py-2 border-bottom">
                        <h4>
                            停留時間:
                        </h4>
                        <select id="comment_stay_total" name="comment_stay_total" class="col-10 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                            <option value="" disabled selected>請選擇</option>
                            <option value="under1">一小時以內</option>
                            <option value="1to2">一到兩小時</option>
                            <option value="2to3">兩到三小時</option>
                            <option value="above3">三小時以上</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6 col-12 ">
                    <div class="text-left mb-4 border-bottom ">
                        <h4>
                            旅伴:
                        </h4>
                        <div class="row ">
                            <div class="btn-group btn-group-toggle mb-4 offset-2" data-toggle="buttons">
                                <label class="btn  btn-light active  col-md-10 mb-1">
                                    <input type="radio" name="travel_partner" id="travel_partner1" autocomplete="off" value="蜜月"> 蜜月
                                </label>

                                <label class="btn  btn-light col-md-10 mb-1">
                                    <input type="radio" name="travel_partner" id="travel_partner2" autocomplete="off" value="伴侶">伴侶
                                </label>

                                <label class="btn  btn-light col-md-10 mb-1">
                                    <input type="radio" name="travel_partner" id="travel_partner3" autocomplete="off" value="家庭">家庭
                                </label>

                                <label class="btn  btn-light col-md-10 mb-1">
                                    <input type="radio" name="travel_partner" id="travel_partner4" autocomplete="off" value="朋友">朋友
                                </label>
                                <label class="btn  btn-light col-md-10 mb-1">
                                    <input type="radio" name="travel_partner" id="travel_partne5" autocomplete="off" value="商務">商務
                                </label>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-sm-6">
                    <div class="text-left mb-4 border-bottom ">
                        <h4>
                            旅遊月份:
                        </h4>
                        <div class="row ">
                            <div class="btn-group btn-group-toggle mb-4 offset-2 " data-toggle="buttons">
                                <label class="btn  btn-light active  col-md-10 mb-1">
                                    <input type="radio" name="travel_month" id="travel_month1" autocomplete="off" value="3to5"> 3-5月
                                </label>

                                <label class="btn  btn-light col-md-10 mb-1">
                                    <input type="radio" name="travel_month" id="travel_month2" autocomplete="off" value="6to8">6-8月
                                </label>

                                <label class="btn  btn-light col-md-10 mb-1">
                                    <input type="radio" name="travel_month" id="travel_month3" autocomplete="off" value="9to11">9-11月
                                </label>

                                <label class="btn  btn-light col-md-10 mb-1">
                                    <input type="radio" name="travel_month" id="travel_month4" autocomplete="off" value="12to2">12-2月
                                </label>


                            </div>
                        </div>

                    </div>
                    <div>
                        <input type="hidden" name="q" value=@ViewBag.q />
                        <input type="submit" class="btn btn-dark align-self-center" />
                    </div>
                </div>

            </div>
        </form>
    </div>
  
    <div class="col-md-9 mb-2 ">
        <div>
        <h2 class="font-weight-bold ">@ViewBag.q 的搜尋結果</h2>
        <h5>條件：@ViewBag.city</h5>
        </div>

        <div class="text-right  border-bottom ">
            <h4>
                排序方式:
            </h4>

            <select id="Sortby" name="Sortby " class="col-6 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                <option value="ltoh">由舊到新</option>
                <option value="htol">由新到舊</option>
            </select>
        </div>

        <!--導覽列-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="spot-tab" data-toggle="tab" href="#spot" role="tab" aria-controls="spot" aria-selected="true">景點</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">活動</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="resaurant-tab" data-toggle="tab" href="#resaurant" role="tab" aria-controls="resaurant" aria-selected="false">餐廳</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="hotel-tab" data-toggle="tab" href="#hotel" role="tab" aria-controls="hotel" aria-selected="false">飯店</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="member-tab" data-toggle="tab" href="#member" role="tab" aria-controls="member" aria-selected="false">會員</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="spot" role="tabpanel" aria-labelledby="spot-tab">
                <!--內容-->
                @foreach (var item in Model.activity)
                {

                    <div class="media mt-3  pl-3 mb-2 border-dark">
                        <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                        <div class="media-body ">
                            <h3 class="my-2 font-weight-bold border-bottom pb-2">@item.activity_title</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">城市:@item.city</div>
                                <div class="col-md-6 col-sm-12">平均停留時間:2小時</div>
                                <div class="col-md-6 col-sm-12">適合旅伴:情侶 </div>
                                <div class="col-md-6 col-sm-12">適合月份:1-3月</div>
                                <div class="col-md-6 col-sm-12">
                                    旅客評分: <div style="width:100px">
                                        <div class="progress ">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">3.8分</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn  btn-light ">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                            </label>
                        </div>
                    </div>
                    <hr />
                }

            </div>
            <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                <!--內容-->
                <div class="media mt-3  pl-3 mb-2 border-dark">
                    <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                    <div class="media-body ">
                        <h3 class="my-2 font-weight-bold border-bottom pb-2">阿里山雲海</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">城市:嘉義市</div>
                            <div class="col-md-6 col-sm-12">平均停留時間:2小時</div>
                            <div class="col-md-6 col-sm-12">適合旅伴:情侶 </div>
                            <div class="col-md-6 col-sm-12">適合月份:1-3月</div>
                            <div class="col-md-6 col-sm-12">
                                旅客評分: <div style="width:100px">
                                    <div class="progress ">
                                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">3.8分</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn  btn-light ">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                        </label>
                    </div>
                </div>
                <hr />
            </div>
            <div class="tab-pane fade" id="resaurant" role="tabpanel" aria-labelledby="resaurant-tab">
                <!--內容-->
                <div class="media mt-3  pl-3 mb-2 border-dark">
                    <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                    <div class="media-body ">
                        <h3 class="my-2 font-weight-bold border-bottom pb-2">阿里山雲海</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">城市:嘉義市</div>
                            <div class="col-md-6 col-sm-12">平均停留時間:2小時</div>
                            <div class="col-md-6 col-sm-12">適合旅伴:情侶 </div>
                            <div class="col-md-6 col-sm-12">適合月份:1-3月</div>
                            <div class="col-md-6 col-sm-12">
                                旅客評分: <div style="width:100px">
                                    <div class="progress ">
                                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">3.8分</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn  btn-light ">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                        </label>
                    </div>
                </div>
                <hr />
            </div>
            <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">
                <!--內容-->
                <div class="media mt-3  pl-3 mb-2 border-dark">
                    <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                    <div class="media-body ">
                        <h3 class="my-2 font-weight-bold border-bottom pb-2">阿里山雲海</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">城市:嘉義市</div>
                            <div class="col-md-6 col-sm-12">平均停留時間:2小時</div>
                            <div class="col-md-6 col-sm-12">適合旅伴:情侶 </div>
                            <div class="col-md-6 col-sm-12">適合月份:1-3月</div>
                            <div class="col-md-6 col-sm-12">
                                旅客評分: <div style="width:100px">
                                    <div class="progress ">
                                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">3.8分</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn  btn-light ">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                        </label>
                    </div>
                </div>
                <hr />
            </div>
            <div class="tab-pane fade" id="member" role="tabpanel" aria-labelledby="member-tab">
                <!--內容-->
                <div class="media mt-3  pl-3 mb-2 border-dark">
                    <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                    <div class="media-body ">
                        <h3 class="my-2 font-weight-bold border-bottom pb-2">阿里山雲海</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">城市:嘉義市</div>
                            <div class="col-md-6 col-sm-12">平均停留時間:2小時</div>
                            <div class="col-md-6 col-sm-12">適合旅伴:情侶 </div>
                            <div class="col-md-6 col-sm-12">適合月份:1-3月</div>
                            <div class="col-md-6 col-sm-12">
                                旅客評分: <div style="width:100px">
                                    <div class="progress ">
                                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">3.8分</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn  btn-light ">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                        </label>
                    </div>
                </div>
                <hr />
            </div>
        </div>








    </div>
</div>

@*@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))*@
