@model TravelCat.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}
<link href="~/Content/Searchindex.css" rel="stylesheet" />

<section class="bg-white py-4 text-dark">
    <div class="container ">
        <header>
            <form>
                <div class="row ">
                    <div class="input-group mb-5 col-md-6 offset-3">
                        <input type="text" id="q" name="q" class="form-control search_bar" placeholder="請輸入你想去的地方" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">GOGO</button>
                        </div>
                    </div>
                </div>
            </form>
        </header>
        <div>
            @Html.Action("_Activity", "Search", new { q = ViewBag.q })
        </div>
    </div>
</section>


@section scripts{
    <script>
        $('#Sortby').change(function () {
            $('#form_right').submit();
        });
    </script>
    }