
@{
    ViewBag.Title = "ConfirmView";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}

<div class="container mt-5 mt-5 " style="height:700px">
    <div class="row justify-content-center border align-items-center">
        <div class="col-md-12">
            <h1>@ViewBag.account 您好</h1>
            <h3 class="mt-4">您的信箱更改成功，請至您的信箱收取驗證信</h3>
        </div>


    </div>
    @Html.ActionLink("回到個人頁", "Index", new { id = Model.member_id })
</div>

