
@{
    ViewBag.Title = "ForgetView";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}
<link href="~/Content/web-Login.css" rel="stylesheet" />

<div class="container">
    <div class="main">
        <div class="Login-box">

            <div class="welcome">
                <h2 class="mb-4">@ViewBag.account 您好!</h2>

                <h4 class="mb-4">我們已寄了一封信到您的信箱，向您說明如何重設密碼，請記得檢查您的信箱。</h4>

                <h4 class="mb-4">您的電子信箱：@ViewBag.accemail</h4>

                @Html.ActionLink("回到登入頁", "Login", "Home")

            </div>

        </div>
    </div>
</div>

