@model TravelCat.Models.member

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form id="login" class="form-horizontal" method="post" action="@Url.Action("Login")">
    <input id="username" name="username" type="text" />
    <input id="password" name="password" type="password" />
    <input id="Submit1" type="submit" value="submit" />
    </form>
