@model TravelCat.Models.member

@{
    ViewBag.Title = "重設密碼";
    Layout = "~/Views/Shared/_Layout 1.cshtml";
}
<link href="~/Content/web-Login.css" rel="stylesheet" />

<div class="container">
    <div class="main">
        <div class="Login-box">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h2>重設密碼</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.member_id)

                <div class="form-inline">
                    <label class="col-form-label">新密碼</label>
                    <input id="Password1" type="password" name="newpassword" class="form-control" />
                </div>
                <div id="pwdlength" class="text-danger"></div>

                <div class="form-inline mt-3">
                    <label class="col-form-label">確認密碼</label>
                    <input id="Password2" type="password" class="form-control" />
                </div>
                <div id="pwdconfiirm" class="text-danger"></div>

                <div class="form-inline mb-4">
                    <input type="checkbox" id="show_password" />顯示密碼
                </div>

                <input id="submit" type="submit" value="確定更改密碼" class="btn btn-primary" />
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        $('#submit').click(function () {
            var psd1 = $('#Password1').val();
            var psd2 = $('#Password2').val();
            if (psd1 == "") {
                alert("請輸入新密碼！");
                return false;
            }
            if (psd2 == "") {
                alert("請輸入確認密碼！");
                return false;
            }
            else if (psd1 != psd2) {
                alert("兩次輸入的密碼不一致！");
                return false;
            }
            else
                alert("密碼更改成功，按下確定至登入頁面");
            return true;
        });

        $('#show_password').click(function () {
            if ($('#Password1').attr("type") && $('#Password2').attr("type") == "password") {
                $('#Password1').attr("type", "text");
                $('#Password2').attr("type", "text");
            }
            else {
                $('#Password1').attr("type", "password");
                $('#Password2').attr("type", "password");
            }
        });

        //密碼長度
        $('#Password1').keyup(function () {
            if ($('#Password1').val().length < 8) {
                $('#pwdlength').text("請輸入超過8碼")
            }
            else {
                $('#pwdlength').text('');
            }

        });

        $('#Password2').keyup(function () {
            if ($('#member_password').val() != $('#Password2').val()) {
                $('#pwdconfiirm').text("確認密碼跟密碼不一致");
            }
            else {
                $('#pwdconfiirm').text('');
            }
        });
    </script>
}