@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}

    <div class="container">
        <h2>@User.Identity.GetUserName()，您好!</h2>
        <h1>@ViewBag.Data / @Session["memberID"]</h1>

        @if (User.IsInRole("Confirmed"))
        {
            <p>現在將跳轉首頁</p>
        }
        else if (User.IsInRole("UnConfirmed"))
        {
            <p>請去驗證信箱</p>
        }
        else
        {
            <p>您已被停權</p>
        }

    </div>