@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) 
{
    <p>@User.Identity.GetUserName()</p>
}
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}

<h2>test</h2>
<h1>@ViewBag.Data / @Session["memberID"]</h1>

@Html.ActionLink("登出","LogOut")

