@model IEnumerable<TravelCat.Models.issue>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/back-end-index.css" rel="stylesheet" />
<h2 class="mt-3 text-center">網站問題管理</h2>

<div class="header ml-3">
    <div class="mr-1"></div>
    <form action="/Spot/Index" method="get" class="search">
        @Html.TextBox("id", "", new { @class = " border", @placeholder = "編號,名稱,城市,行政區" })
        <input class="btn btn-secondary" type="submit" value="查詢" />
    </form>
</div>

@Html.Action("_Problem", "issues", new { type_id = 1 })
