<link href="~/Content/Login-index.css" rel="stylesheet" />
@{
    ViewBag.Title = "ForgetView";
    Layout = "~/Views/Shared/_Layout 1.cshtml";
}


<div class="card w-50 mt-5" style="margin: 0 auto">
    <div class="card-body text-center">
        <h2 class="card-title mb-3">@ViewBag.account 管理員您好</h2>
        <p class="card-text">我們已寄了一封信到您的信箱，向您說明如何重設密碼，請記得檢查您的信箱。</p>
        <p class="card-text">您的電子信箱：@ViewBag.accemail</p>

        @Html.ActionLink("回到登入頁", "Index", "Loginadmin",new { @class="btn btn-primary"})
    </div>
</div>
