<link href="~/Content/Login-index.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout 1.cshtml";
}

<div class="warp">
    <div class="txt">
        <h1>旅途貓後台登入</h1>
    </div>

    <div class="login">
        <form id="login" class="form-horizontal" method="post" action="@Url.Action("Index")">
            <div class="form-group">
                <input id="id" name="id" type="text" class="login-Id" placeholder="請輸入帳號"><br />
                <div>

                </div>

                <input id="pwd" name="pwd" type="password" class="login-Pw" placeholder="請輸入密碼"><br />
                <div>

                </div>
            </div>

            <div class="from-btn">
                <input id="Submit1" type="submit" value="登入" class="btn btn-primary" />
                <input id="Reset1" type="reset" value="重設" class="btn btn-primary" />
            </div>

        </form>

    </div>
    <h3 class="text-danger">@ViewBag.LoginErr</h3>
</div>







