
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form class="form-horizontal" method="post" action="@Url.Action("Index")">
    <div class="form-group">
        <label for="id" class="col-md-3">id</label>
        <div class="col-md-9">
            <input id="id" name="id" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="pwd" class="col-md-3">password</label>
        <div class="col-md-9">
            <input id="pwd" name="pwd" type="password" class="form-control" />
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-9 col-md-offset-3">
            <input id="Submit1" type="submit" value="Login" class="btn btn-primary" />
            <input id="Reset1" type="reset" value="Reset" class="btn btn-default" />
        </div>
    </div>
</form>
<h3 class="text-danger">@ViewBag.LoginErr</h3>
