
    <footer class="footer">

            <ul>
                <li>
                    <strong>行動商務第 2 組專題</strong>
                    <ul>
                        <li>Adresse, street</li>
                        <li>Tlf: Phone</li>
                    </ul>
                    <ul class="right">
                        <li>Zipcode/City</li>
                        <li>Mail: Email</li>
                    </ul>
                    </li>
             </ul>
        </footer>









