@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>旅途貓</title>
    <link rel="SHORTCUT ICON" href="~/images/favicon-20191112111833525.ico" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:500,700,900&display=swap" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/ui-darkness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
</head>

<body>



    @RenderBody()
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/fontawesome-free-5.11.2-web/js/all.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
