@model IEnumerable<TravelCat.Models.spot>

@{
    Layout = "~/Views/Shared/web-Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <style>
    </style>
    <div class="container">
        <h2>景點</h2>



        <section>


            @foreach (var item in Model)
            {
                <div class="row col-10 offset-1">

                    <div class="col-4">
                        <div class="card">
                            <div class="card__image "></div>
                            <div class="card__content">
                                <div class="card__title"> @Html.DisplayFor(modelItem => item.spot_title)</div>


                                <button class="btn btn--block card__btn" onclick="window.location.href='@Url.Action("Details","WebSpots",new {id=item.spot_id })'">前往頁面</button>

                            </div>
                        </div>
                    </div>

                </div>
            }
        </section>
    </div>
</body>
</html>
