

@model IEnumerable<TravelCat.Models.spot>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/web-Layout.cshtml";

}

<div class="container">
    <ul>
        <li>
            <h2></h2>
            <div class="item">
            </div>
        </li>
        <li>
            <h2>北部地區</h2>
        </li>
        <li>
            <h2>北部地區</h2>
        </li>
        <li>
            <h2>北部地區</h2>
        </li>
        <li>
            <h2>北部地區</h2>
        </li>
    </ul>
</div>


