
@{
    ViewBag.Title = "Home";
    var account = "";
    if(Session["id"] == null || string.IsNullOrWhiteSpace(Session["id"].ToString()))
    {
        Response.Redirect("~/Loginadmin/Index");
    }
    else
    {
        account = Session["id"].ToString();
    }
}

<h2>觀迎來發大財市!</h2>